# Game formats (we don't want to distribute this launcher with games)
*.wad
*.WAD
*.pk3
*.PK3
*.zip
*.ZIP

# Personal game saves (mostly *.zds files)
Doom/.DoomBroLauncher/saves/*
!Doom/.DoomBroLauncher/saves/readme-saves.txt

# Personal game screenshots (mostly *.png files)
Doom/.DoomBroLauncher/screenshots/*
!Doom/.DoomBroLauncher/screenshots/readme-screenshots.txt

# Port binaries and its files
Doom/.DoomBroLauncher/port/*
!Doom/.DoomBroLauncher/port/readme-gzdoom.txt

# Binaries in general
*.so
*.dll
*.pyo
*.pyc
*.pyd
*.exe
*.jar
*.class

# Caches, attributes or temporal system files
Thumbs.db
.DS_Store
.*~
